.item {
	color: #20B2AA;
	margin: auto 0;
  text-decoration: line-through;
}

.done {
	color: #c4c4c4;
}


.itemWrap {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

.checkbox {
  margin: auto 0;
}

.deleteBtn {
  opacity: 0;
}

.itemWrap:hover .deleteBtn {
  opacity: 1;
}

.itemList {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 41px;
}
