.wrap {
  margin: 0 auto;
  width: 100%;
}

.title {
  color: #000;
  font-weight: bold;
  font-size: 28px;
}

.paper {
  /*margin: auto;*/
  min-width: 100%; 
  margin: 0 auto;
  /*display: flex;*/
}


.one {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}

.MuiCard-root {
	width: 100%;
}
